{% extends 'base.html' %}

{% block title %}
Тестовый сценарий
{% endblock %}

{% block body %}
<h1 style="font-size: 1.7rem" class="card-header"> *** Задание *** </h1>
{% endblock %}

{% block whatever %}
<div class="container mt-5">
    <p>
    <li class="lead">
        Вам необходимо написать тестовый сценарий, который собирает информацию (название, цена) на сайте
        (https://ru.investing.com/) о российских акциях, цена которых изменилась на определенный % в большую сторону.
        Цена
        для расчета % роста цен, хранится в базе данных stocks (данные по акциям находятся по следующему пути
        Котировки->Акции->Россия). При переходе к списку акций проверять отсутствие / присутствие заголовка Россия –
        акции.
        После сбора информации сценарий должен выгрузить собранные данные в файл report.json
    </li>
    </p>
    <p>
    <li class="lead">
        Следующий сценарий должен запускаться в 4 экземплярах параллельно, при этом на вход он должен
        получать
        название компании из ранее сохраненного файла (report.json) для последующего использования в шагах.
        У компаний, собранных в части 1, необходимо найти дивидендную доходность в %, и сохранить в переменную,
        финальный
        отчет должен формироваться после окончания прогона всех сценариев (данные собраны по всем компаниям из файла
        report.json).
    </li>
    </p>
    <p>
    <li class="lead">
        Также необходимо протестировать форму входа, прогнать сценарии со всем тестовыми наборами 3шт.
        Например:
        (user1, password1), (user2, password2) и т.д. (проверку формы вынести в отдельный сценарий):
        • Поля не заполнены (проверка предупреждающего сообщения)
        • Поле email заполнено (проверить предупреждающее сообщение)
    </li>
    </p>
</div>
{% endblock %}

