{% extends 'scenario_base.html' %}
{% block title %}
Cценарий 1
{% endblock %}



{% block time %}
x
{% endblock %}

{% block whatever %}

<div class="container mt-5">
    <h2 style="font-size: 1.5em" class="h2">Изменение цены акций</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Название компании </th>
                <th>Текущая цена</th>
                <th>Увеличение цены, % </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in range(num-1) %}
                <td>{{ company[i] }}</td>
                <td>{{ price[i] }}</td>
                <td>{{ percent[i] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}