{% extends 'scenario_base.html' %}

{% block title %}
Сценарий 3
{% endblock %}

{% block time %}
x
{% endblock %}

{% block whatever %}

<h1 style="font-size: 1.7rem" class="card-header">Название Сценария:
    {{ info[5] }}
</h1>

<p class="lead">Статус сценария:
    {{ info[6] }}
</p>

<p class="lead">Кол-во шагов:
    {{ info[7] }}
</p>

<p class="lead">Время прохождения:

</p>

<h1 style="font-size: 1.7rem" class="card-header">Название Сценария:
    {{ info[10] }}
</h1>

<p class="lead">Статус сценария:
    {{ info[11] }}
</p>

<p class="lead">Кол-во шагов:
    {{ info[12] }}
</p>

<p class="lead">Время прохождения:

</p>






{% endblock %}